{% load static %}

<c-vars
    href=""
    variant=""
    is_current=""
    is_inverse=""
    is_external=""
    aria_label=""
/>

<a href="{{ href }}" class="{% if variant == 'nav' %}usa-nav__link{% elif variant == 'summary-box' %}usa-summary-box__link{% elif variant == 'identifier' %}usa-identifier__required-link usa-link{% elif variant == 'pagination-previous' %}usa-pagination__link usa-pagination__previous-page{% elif variant == 'pagination-next' %}usa-pagination__link usa-pagination__next-page{% elif variant == 'pagination-page' %}usa-pagination__button{% elif is_inverse %}usa-link--inverse{% elif is_external %}usa-link--external{% else %}usa-link{% endif %}{% if is_current == 'true' %} usa-current{% endif %}"{% if aria_label %} aria-label="{{ aria_label }}"{% endif %}{% if is_current == 'true' and variant == 'pagination-page' %} aria-current="page"{% endif %}{% if target %} target="{{ target }}"{% endif %}{% if rel %} rel="{{ rel }}"{% endif %} {{ attrs }}>
  {{ slot }}
  {% if is_external %}
    <svg class="usa-icon" aria-hidden="true" role="img">
      <use xlink:href="{% static 'frontend/external-link.svg' %}"></use>
    </svg>
  {% endif %}
</a>