{% load cotton %}

<div class="component-variants">
    <h1>File Input Component</h1>
    {% for variant in variants %}
    <div class="component-variant">
        <c-form-group>
        <h2 class="variant-title">{{ variant.title }}</h2>
            <c-file-input
                input_type="{{ variant.input_type }}"
                label="{{ variant.label }}"
                hint="{{ variant.hint }}"
                disabled="{{ variant.disabled }}"
                accept="{{ variant.accept }}"
                multiple="{{ variant.multiple }}"
                error_message="{{ variant.error_message }}"
            />
        </c-form-group>
        </div>
        {% endfor %}
</div>