<div class="margin-bottom-4">
  <h1 class="margin-bottom-1">{{ entry.form_definition.title }}</h1>
  <div class="display-flex flex-align-center flex-gap-1 margin-bottom-2">
    <span class="usa-tag bg-base-lighter text-ink">Version {{ entry.version_number }}</span>
    <span class="usa-tag {% if entry.status == 'draft' %}bg-base-lighter text-ink{% elif entry.status == 'submitted' %}bg-success{% elif entry.status == 'locked' %}bg-warning{% else %}bg-info{% endif %}">
      {{ entry.status|upper }}
    </span>
  </div>
</div>
