<c-side_nav aria_label="Form sections">
  {% for item in short_form_sidenav_items %}
    {% if item.children %}
      <c-side_nav.item
        text="{{ item.title }}"
        href="{{ item.href }}"
        is_current="{% if item.is_current %}true{% endif %}"
        submit_form_id="csf-form"
      >
        {% for child in item.children %}
          <c-side_nav.item
            text="{{ child.title }}"
            href="{{ child.href }}"
            is_current="{% if child.is_current %}true{% endif %}"
            submit_form_id="csf-form"
          />
        {% endfor %}
      </c-side_nav.item>
    {% else %}
      <c-side_nav.item
        text="{{ item.title }}"
        href="{{ item.href }}"
        is_current="{% if item.is_current %}true{% endif %}"
        submit_form_id="csf-form"
      />
    {% endif %}
  {% endfor %}
</c-side_nav>
