<div class="border border-base-lighter radius-md padding-205 text-base-darker">
    <h3 class="font-heading-lg font-family-sans text-normal margin-top-0 margin-bottom-2">Statement of CSBG Assurances</h3>
    <div class="usa-prose">
        <p>
            As a part of the annual or biannual application and plan required by subsection 676 of
            Community Services Block Grant Act, as amended, (42 U.S.C. 9901 et seq.) (The Act), the
            designee of the Chief Executive of the State hereby agrees to the Assurances in Section
            676 of the Act (summarized below and detailed in Section 676 of the CSBG Act) &mdash;
        </p>

        <h4 class="font-heading-md margin-top-3 margin-bottom-1">Programmatic Assurances</h4>
        <ol>
            <li>
                An assurance that funds made available through the grant or allotment will be used
                for at least one of the following purposes [per 676(b)1] &mdash;
                <ol type="a">
                    <li>
                        To support activities that are designed to assist low-income families and
                        individuals, including families and individuals receiving assistance under
                        part A of title IV of the Social Security Act (42 U.S.C. 601 et seq.),
                        homeless families and individuals, migrant or seasonal farm workers, and
                        elderly low-income individuals and families:
                        <ol type="i">
                            <li>
                                To remove obstacles and solve problems that block the achievement
                                of self-sufficiency.
                            </li>
                            <li>To secure and retain meaningful employment.</li>
                            <li>
                                To attain an adequate education with particular attention toward
                                improving literacy skills of the low-income families in the
                                community, which may include family literacy initiatives.
                            </li>
                            <li>To make better use of available income.</li>
                            <li>
                                To obtain and maintain adequate housing and a suitable living
                                environment.
                            </li>
                            <li>
                                To obtain emergency assistance through loans, grants, or other
                                means to meet immediate and urgent individual and family needs.
                            </li>
                            <li>
                                To achieve greater participation in the affairs of the communities
                                involved, including the development of public and private
                                grassroots partnerships with local law enforcement agencies, local
                                housing authorities, private foundations, and other public and
                                private partners.
                            </li>
                        </ol>
                    </li>
                    <li>
                        To address the needs of youth in low-income communities through youth
                        development programs that support the primary role of the family, give
                        priority to the prevention of youth problems and crime, and promote
                        increased community coordination and collaboration in meeting the needs of
                        youth, and support development and expansion of innovative
                        community-based youth development programs that have demonstrated success
                        in preventing or reducing youth crime, such as:
                        <ol type="i">
                            <li>
                                Programs for the establishment of violent-free zones that would
                                involve youth development and intervention models (such as models
                                involving youth mediation, youth mentoring, life skills training,
                                job creation, and entrepreneurship programs).
                            </li>
                            <li>After-school childcare programs.</li>
                        </ol>
                    </li>
                    <li>
                        To make more effective use of, and to coordinate with, other programs
                        related to the purposes of this subtitle.
                    </li>
                </ol>
            </li>
            <li>
                An assurance that information provided by the Tribe will contain the following
                [per 676(b)3] &mdash;
                <ol type="a">
                    <li>
                        A description of the service delivery system, for services provided or
                        coordinated with funds made available through grants made under section
                        675C(a), targeted to low-income Individuals and families in communities
                        within the Tribe.
                    </li>
                    <li>
                        A description of how linkages will be developed to fill identified gaps in
                        the services, through the provision of information, referrals, case
                        management, and follow-up consultations.
                    </li>
                    <li>
                        A description of how funds made available through grants made under
                        section 675C(a) will be coordinated with other Public and private sources.
                    </li>
                    <li>
                        A description of how the Tribe will use the funds to support innovative
                        initiatives, which may include fatherhood initiatives and other
                        initiatives with the goals of strengthening families and encouraging
                        effective parenting.
                    </li>
                </ol>
            </li>
            <li>
                An assurance that the Tribe will provide, on an emergency basis, for the provision
                of such supplies and services, nutritious foods, and Related services, as may be
                necessary to counteract conditions of starvation and malnutrition among low-income
                individuals. [per 676(b)4]
            </li>
            <li>
                An assurance that the Tribe will ensure coordination between anti-poverty programs
                in each community within the Tribe, and ensure, where appropriate, the emergency
                energy crisis intervention programs under title XXVI (relating to low-income home
                energy assistance) are conducted in such community. [per 676(b)6]
            </li>
            <li>
                An assurance that the Tribe will permit and cooperate with Federal investigations
                undertaken in accordance with section 678D. [per 676(b)7]
            </li>
            <li>
                An assurance that the Tribe will participate in the performance measurement system
                (e.g.: Results Oriented Management Accountability (ROMA) System or another
                performance measure system for which the Secretary facilitated development
                pursuant to section 678E(b), or an alternative system for measuring performance
                and results that meets the requirements of that section, and a description of
                outcome measures to be used to measure performance in promoting self-sufficiency,
                family stability, and community revitalization. [per 676(b)13]
            </li>
        </ol>

        <h4 class="font-heading-md margin-top-3 margin-bottom-1">
            Administrative and Financial Assurances
        </h4>
        <p>
            The Tribe further agrees to the following administrative assurances, as required under
            the Community Services Block Grant Act &mdash;
        </p>
        <ol>
            <li>
                An assurance to expend for administrative expenses an amount not to exceed the
                greater of 5% of its allotment or the percentage represented by the ratio of
                $55,000 to the smallest State allotment for the fiscal year as required by Section
                675(C)(b)(2) of the Act.
            </li>
            <li>
                An assurance that the Tribe agrees to provide that fiscal control and fund
                accounting procedures will be established as may be necessary to assure the proper
                disbursal of the accounting for Federal funds paid to the Tribe or Tribal
                Organization under this subtitle, including monitoring the assistance under this
                subtitle. 678D(a)(1)(A)
            </li>
            <li>
                An assurance that each Tribe that expends $750,000 or more (during the fiscal
                year) in all types of Federal financial assistance must conduct an audit in
                accordance with the Single Audit Act, P.L. 98-502 (3) U.S.C 75 and OMB Circular
                A-133 Subpart B). 678D(2)(B)
            </li>
            <li>
                An assurance that the Tribe will make each CSBG Tribal Plan or revised plan
                available for public inspection in such a manner as will facilitate public review
                and comment on the proposed use and distribution of CSBG funds. [per 676(a)(2)(B)
                and 676(e)(2)]
            </li>
        </ol>

        <h4 class="font-heading-md margin-top-3 margin-bottom-1">
            Other Administrative Certifications
        </h4>
        <p>The Tribe also certifies the following &mdash;</p>
        <ol>
            <li>
                To provide assurances that cost and accounting standards of the Office of
                Management and Budget shall apply to a recipient of Community Services Block Grant
                program funds. [per 678D(a)(1)(B), as well as 2 CFR 200, Uniform Administrative
                Requirements and 45 CFR 75]
            </li>
        </ol>
    </div>
</div>
