<h1 class="font-heading-2xl semibold font-family-sans font-weight-semibold">{{ title }}</h1>

{% if subtitle %}
<p class="font-body-sm">{{ subtitle }}</p>
{% endif %}

{% if title == "Expenditure categories" and current_step_number == 1 and current_page_number == 0 %}
<div class="margin-top-2 margin-bottom-2">
    <c-alert type="info" heading="How to select expenditure categories">
        When you select a category, related questions will appear in the following pages. </br >Be sure to save to ensure that all changes are preserved.
    </c-alert>
</div>
{% endif %}

<c-fieldset class="usa-fieldset usa-form usa-form--large">
    {% for child in children %}
        {{ child.render }}
    {% endfor %}
</c-fieldset>

<div class="margin-top-4 padding-top-2 border-top-1px border-base-lighter">
    <div class="display-flex flex-justify flex-wrap flex-gap-1 flex-align-end">

        {% if current_step_number != 0 or current_page_number != 0 %}
        <a href="{{ prev_url }}" class="usa-button usa-button--outline" type="submit" name="page-action" value="previous">
        ← Back
        </a>
        {% endif %}

        <div class="margin-left-auto display-flex flex-gap-1">
            {% if current_step_number != 0 or current_page_number != 0 %}
            <c-button
                text="Save & Exit"
                variant="outline"
                state="active"
                type="submit"
                name="page-action"
                value="save-exit"
            />
            {% endif %}
            <c-button
                text="Next →"
                variant="base"
                state="active"
                type="submit"
            />
        </div>
    </div>
</div>