<div class="margin-top-2 margin-bottom-2">
    <c-alert type="info" heading="Programmatic assurances topics" :rich="True">
        <p class="usa-alert__text margin-bottom-1">
            As applicable, include the following topics in your description:
        </p>
        <ul class="usa-list">
            <li>CSBG service delivery system.</li>
            <li>Geographical areas and categories of individuals to be served.</li>
            <li>Criteria and method used for distribution of CSBG funds.</li>
            <li>
                Purpose of funds, including a description of the activities to be supported
                with CSBG funds.
            </li>
            <li>Linkages to fill identified gaps in services.</li>
            <li>Coordination with other public and private resources.</li>
            <li>Innovative community and neighborhood-based initiatives.</li>
        </ul>
    </c-alert>
</div>
