DEBUG=True
DB_CONFIG__SSL_MODE=disable
OIDC_CONFIG__CLIENT_SECRET=
OIDC_CONFIG__DOCUMENT_URL=http://localhost:8081/realms/csfeer/.well-known/openid-configuration
DJANGO_SETTINGS_MODULE=csfeer.settings

AWS_ACCESS_KEY_ID=alfq80VW6dJW4sYxDaam
AWS_SECRET_ACCESS_KEY=KA8dxUCwYDHm2JSgDKZvezRDeIVGT2RX3ITjP55F
AWS_S3_ENDPOINT_URL=http://storage.csfeer:9000