{% spaceless %}
    <div x-data="{ checked: '{{ widget.subwidgets.0.value.0 }}'}" x-on:change="checked = $event.target.value">
    
    {% for widget in widget.subwidgets %}
        {% if forloop.counter0 == 0 %}
            <div class="margin-bottom-4">
                {% include widget.template_name %}
            </div>
        {% else %}
            {% if forloop.counter0 == 1 %}
            <div class="subwidgets" x-show="checked == 'yes'" x-transition>
            {% endif %}
            <div>
                <c-label 
                    id="{{ widget.id_for_label }}" 
                    label="{{ widget.attrs.label }}" 
                    required="{{ widget.required }}"
                />
                {% include widget.template_name %}
            </div>
        {% endif %}
    {% endfor %}
            </div>
    </div>
{% endspaceless %}