<c-vars
    text=""
    state=""
    variant=""
    disabled=""
    aria_disabled=""
/>

<button 
    class="usa-button{% if variant != 'outline-inverse' %} usa-button--{{ variant }}{% endif %}{% if variant == 'outline-inverse' %} usa-button--outline usa-button--inverse{% endif %}{% if state == 'focus' %} usa-{{ state }}{% endif %}{% if state == 'hover' or state == 'active' or state == 'unstyled' %} usa-button--{{ state }}{% endif %}"
    type="button"
    {% if disabled %}disabled="disabled"{% endif %}
    {% if aria_disabled %}aria-disabled="true"{% endif %}
>
    {{ text }}
</button>
