{% load static %}
<a class="usa-skipnav" href="#main-content">Skip to main content</a>
<c-banner 
    control_id="gov-banner"
    header_text="An official website of the United States government"
    header_action="Here's how you know"
></c-banner>
<div class="usa-overlay"></div>

<c-header-main agent_name="{{ user.get_full_name|default:user.username }}"></c-header>

<main id="main-content" class="layout-content">
  <div class="grid-container">{{ slot }}</div>
</main>

<c-footer-main email="{{ ui_info.support_email }}"></c-footer-main>
