<c-vars
    error=""
    success=""
    disabled=""
    readonly=""
    required=""
    extra_classes=""
    name=""
    placeholder=""
    type="text"
    maxlength="1000000000"
/>


{# Text input field #}
<input
  class="usa-input{{ extra_classes }}{% if width %} usa-input--{{ width }}{% endif %}{% if error %} usa-input--error{% endif %}{% if success %} usa-input--success{% endif %}"
  {{ attrs }}
  {% if disabled %}disabled{% endif %}
  {% if readonly %}readonly{% endif %}
  {% if required %}required{% endif %}
  {% if error %}aria-describedby="{{ id }}-error-message{% if hint %} {{ id }}-hint{% endif %}{% if aria_describedby %} {{ aria_describedby }}{% endif %}"{% elif hint or aria_describedby %}aria-describedby="{% if hint %}{{ id }}-hint{% endif %}{% if aria_describedby %} {{ aria_describedby }}{% endif %}"{% endif %}
  name="{{ name }}" {% if placeholder %}placeholder="{{placeholder}}"{% endif %} 
  type="{{ type }}" maxlength="{{ maxlength}}"
/>
  