{% load cotton %}

<div class="component-variants">
    <h1>Text Input Component</h1>
    <p>{{ description }}</p><br />

    {% for variant in variants %}
    <div class="component-variant">
        <h2 class="variant-title">{{ variant.title }}</h2>

        <c-text-input
            id="{{ variant.id }}"
            name="{{ variant.name }}"
            type="{{ variant.type }}"
            value="{{ variant.value }}"
            placeholder="{{ variant.placeholder }}"
            error="{{ variant.error }}"
            success="{{ variant.success }}"
            disabled="{{ variant.disabled }}"
            readonly="{{ variant.readonly }}"
            required="{{ variant.required }}"
            width="{{ variant.width }}"
            maxlength="{{ variant.maxlength }}"
        />
       
    </div>
    {% endfor %}
    
</div>
