<c-vars
    error=""
    success=""
    disabled=""
    readonly=""
    required=""
    width=""
    aria_describedby=""
    value=""
    class="usa-input"
/>


<input
  class="{{ class }} {% if width %} usa-input--{{ width }}{% endif %}{% if error %} usa-input--error{% endif %}{% if success %} usa-input--success{% endif %}"
  {{ attrs }}
  {% if disabled %}disabled{% endif %}
  {% if readonly %}readonly{% endif %}
  {% if required %}required{% endif %}
  {% if value != None %}value="{{ value }}"{% endif %}
/>
