<c-vars
    id=""
    options=""
    default_option=""
    default_value=""
    value=""
    disabled=""
    required=""
    name=""
/>

<select class="usa-select {{ extra_classes }}" {% if required %}required{% endif %} {% if disabled %}disabled{% endif %} name="{{ name }}" id="{{ id }}">
    {% if default_option %}
        <option {% if not value or value == default_value %}selected{% endif %} value="{{ default_value }}">{{ default_option }}</option>
    {% endif %}
    {% for option in options %}
        <option value="{{ option.value }}" {% if value == option.value %}selected{% endif %}>{{ option.display }}</option>
    {% endfor %}
</select>
