<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>CSFEER</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'frontend/styles.css' %}" />
    <script defer src="https://unpkg.com/alpinejs@3.x.x/dist/cdn.min.js"></script>
  </head>
  <body>
    <div class="layout-wrapper">
      <c-app_shell>
        {% block content %}{% endblock %}
      </c-app_shell>
    </div>
  </body>
  <script src="{% static 'frontend/global.bundle.js' %}"></script>
  <!-- <script src="{% static 'htmx.org/dist/htmx.min.js' %}"></script> -->
  <!-- <script src="{% static 'htmx-ext-sse/dist/sse.min.js' %}"></script> -->
</html>
