<c-form-group error="{% if field.errors %}{{ field.errors.0 }}{% endif %}">
    {% if field.field.widget.input_type != "checkbox" and field.field.widget.input_type != "checkbox_multiple" and field.field.widget.input_type != "hidden" and field.label %}
    <c-label
        id="{{ field.id_for_label }}"
        label="{{ field.field.title }}"
        hint="{{ field.help_text }}"
        required="{% if field.field.required %}required{% endif %}"
        error="{% if field.errors %}{{ field.errors.0 }}{% endif %}"
    />
    {% endif %}

    <c-error-message
        id="{{ field.id_for_label }}"
        error="{% if field.errors %}{{ field.errors.0 }}{% endif %}"
    />

    {{ field.as_widget|safe }}

</c-form-group>
