<c-form-group error="{% if field.errors %}{{ field.errors.0 }}{% endif %}">
   {% if field.label and field.field.widget.input_type != "checkbox" %}
    <c-label
        id="{{ field.id_for_label }}"
        label="{{ field.field.title }}"
        required="{% if field.field.required %}True{% endif %}"
        error="{% if field.errors %}{{ field.errors.0 }}{% endif %}"
    />
    {% endif %}

    <c-error-message
        id="{{ field.id_for_label }}"
        error="{% if field.errors %}{{ field.errors.0 }}{% endif %}"
    />

    {{ field.as_widget|safe }}

</c-form-group>