<c-form-group>
    <c-label 
        id="{{field.id_for_label }}" 
        label="{{ field.label }}" 
        required="{{ field.field.required }}"
    />

    {% if field.help_text %}
    <div class="usa-hint">
      {{ field.help_text }}
    </div>
    {% endif %}

    {% if field.widget_type == "textarea" %}
      <c-textarea
        error="{% if field.errors %}true{% endif %}"
        id="{{ field.id_for_label }}"
        name="{{ field.html_name }}"
        value="{% if field.initial %}{{ field.initial }}{% endif %}"
        readonly="{% if field.field.disabled %}true{% endif %}"
      />
    {% elif field.widget_type == "currency" %}
      <c-currency-input
        id="{{ field.id_for_label }}"
        name="{{ field.html_name }}"
        value="{% if field.initial %}{{ field.initial|floatformat:2 }}{% endif %}"
        readonly="{% if field.field.disabled %}true{% endif %}"
        error="{% if field.errors %}true{% endif %}"
      />
    {% elif field.widget_type == "calculatedcurrency" %}
      <c-currency-input
        id="{{ field.id_for_label }}"
        name="{{ field.html_name }}"
        value="{% if field.initial %}{{ field.initial|floatformat:2 }}{% endif %}"
        readonly="true"
        error="{% if field.errors %}true{% endif %}"
      />
    {% else %}
      <c-text-input
          id="{{ field.id_for_label }}"
          name="{{ field.html_name }}"
          type="{{ field.type|default:'text'}}"
          value="{% if field.initial %}{{ field.initial }}{% endif %}"
          readonly="{% if field.field.disabled %}true{% endif %}"
          error="{% if field.errors %}true{% endif %}"
      />
    {% endif %}
</c-form-group>