{{ errors }}
{% if errors and not fields %}
  <div>{% for field in hidden_fields %}{{ field }}{% endfor %}</div>
{% endif %}

{% for component in ui_components %}
    {% if component.type == "section" %}
    <c-card title="{{ component.title }}">
        {% if component.description %}
        <p>
            {{ component.description }}
        </p>
        {% endif %}

        {% for child in component.children %}
            {{ child.django_field.as_field_group }}
        {% endfor %}
    </c-card>
    {% endif %}
{% endfor %}