{% if component.type == "section" %}
<c-card>
    <div class="usa-card__container">
        <div class="usa-card__header">
            <h4 class="usa-card__heading">{{ component.title }}</h4>
        </div>

        <div class="usa-card__body">
            <p>
                {{ component.description }}
            </p>
        </div>
        {% for child in component.children %}
            {% include "form_manager/forms/ui_component.html" with component=child %}
        {% endfor %}

    </div>
</c-card>
{% elif component.type == "field" %}
    {% with field=component.django_field %}
        {% include "form_manager/forms/field.html" %}
    {% endwith %}
{% endif %}
