<c-vars
    id=""
    label=""
    label_description=""
    radio_type=""
    name=""
    value=""
    :checked="False"
/>
<div class="usa-radio">
    <input
    class="usa-radio__input {% if radio_type %}usa-radio__input--{{ radio_type }}{% endif %}"
    id="{{ id }}"
    type="radio"
    name="{{ name }}"
    value="{{ value }}"
    {% if checked %}checked{% endif %}
    />
    <label class="usa-radio__label" for="{{ id }}">
        {{ label }}
        {% if label_description %}
            <span class="usa-radio__label-description">{{ label_description }}</span>
        {% endif %}
    </label>
</div>
