<c-vars
    error=""
    success=""
    disabled=""
    readonly=""
    required=""
    aria_describedby=""
    aria_disabled=""
    extra_classes=""
    input_classes=""
    label_classes=""
    rows=""
    value=""
/>

<textarea
  class="usa-textarea{{ input_classes }}{% if error %} usa-input--error{% endif %}{% if success %} usa-input--success{% endif %}"
  {{ attrs }}
  {% if disabled %}disabled{% endif %}
  {% if readonly %}readonly{% endif %}
  {% if required %}required{% endif %}
  {% if error %}aria-describedby="{{ id }}-error-message{% if hint %} {{ id }}-hint{% endif %}{% if aria_describedby %} {{ aria_describedby }}{% endif %}"{% elif hint or aria_describedby %}aria-describedby="{% if hint %}{{ id }}-hint{% endif %}{% if aria_describedby %} {{ aria_describedby }}{% endif %}"{% endif %} {% if rows %}rows="{{ rows }}"{% endif %}
>{{ value }}</textarea>
