<c-vars
    id=""
    name=""
    type="numeric"
    value=""
    label=""
    hint=""
    error=""
    success=""
    disabled=""
    readonly=""
    required=""
    width=""
    inputmode="numeric"
/>
  
<c-input-group>
    <c-input-prefix>$</c-input-prefix>
    <c-text-input
        id="{{ id }}"
        name="{{ name }}"
        type="{{ type}}"
        value="{{ value }}"
        hint="{{ hint }}"
        error="{{ error }}"
        success="{{ success }}"
        disabled="{{ disabled }}"
        required="{{ required }}"
        width="{{ width }}"
        inputmode="{{ inputmode }}"
        step="0.01"
        readonly="{{ readonly }}"
        :attrs="widget_attrs"
    />
</c-input-group>