<c-vars
    heading_class="usa-accordion__heading"
    :is_expanded="False"
    control_id=""
    content_class="usa-accordion__content usa-prose"
    button_class="usa-accordion__button"
/>

<h4 class="{{ heading_class }}">
  <button
    type="button"
    class="{{ button_class }}"
    aria-expanded="{% if is_expanded %}true{% else %}false{% endif %}"
    aria-controls="{{ control_id }}"
  >
    {% if heading %}{{ heading }}{% endif %}
  </button>
</h4>
<div id="{{ control_id }}" class="{{ content_class }}">
    {{ slot }}
</div>
