<c-vars
    id=""
    name=""
    label=""
    tile=false
    label_description=""
    :indeterminate=False
    extra_classes=""
    checked=""
    value=""
    disabled=""
    required=""
/>

<div class="usa-checkbox {{ extra_classes }}" {{ attrs }}>
  <input
    class="usa-checkbox__input{% if tile %} usa-checkbox__input--tile{% endif %}"
    id="{{ id }}"
    type="checkbox"
    name="{{ name }}"
    {% if indeterminate %}data-indeterminate{% endif %}
    {% if checked %}checked{% endif %}
    {% if value %}value="{{ value }}"{% endif %}
    {% if disabled %}disabled{% endif %}
    {% if required %}required{% endif %}
  />
  <label class="usa-checkbox__label" for="{{ id }}">
    {{ label|safe }}
    {% if label_description %}
      <span class="usa-checkbox__label-description">{{ label_description|safe }}</span>
    {% endif %}
  </label>
</div>