<c-vars
    id=""
    name=""
    value=""
    label=""
    hint=""
    error=""
    success=""
    disabled=""
    readonly=""
    required=""
    width=""
    inputmode=""
    extra_classes=""
/>
  
<c-input-group>
    <c-input-prefix>$</c-input-prefix>
    <c-text-input
        id="{{ id }}"
        name="{{ name }}"
        type="number"
        value="{{ value }}"
        hint="{{ hint }}"
        error="{{ error }}"
        success="{{ success }}"
        disabled="{{ disabled }}"
        required="{{ required }}"
        width="{{ width }}"
        inputmode="numeric"
        step="0.01"
        readonly="{{ readonly }}"
        input_classes="currency-input {{ extra_classes}}"
        :attrs="attrs"
    />
</c-input-group>