{% load cotton %}

<div class="component-variants">
    <h1>Select Component</h1>
    
    {% for variant in variants %}
    <div class="component-variant">
        <h2 class="variant-title">{{ variant.title }}</h2>

        <c-label
            control_id="{{ variant.control_id }}"
            label_title="{{ variant.label_title }}"
        />
        <c-select
            control_id="{{ variant.control_id }}"
        >
            {% for option in variant.options %}
            <option value="{{ option.value }}">{{ option.display }}</option>
            {% endfor %}
        </c-select>
    </div>
    {% endfor %}
</div>